/* COLOR PALETTE */
:root {
  --primary-green: #4c8930;
  --light-green: #3d8618;
  --black: #373a3c;
  --text-grey: #999999;
  --bg-grey: #eceeef;
  --border-color: #e0e0e0;
}

/* DEFAULT FONTS AND STYLE */
body {
  width: 100%;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

button,
input {
  font-family: "Open Sans", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-grey);
}

input {
  height: 35px;
  margin-right: 0.5rem;

  border-radius: 5px;
  border: 1px solid var(--border-color);

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: var(--black);
  padding-left: 1rem;
}

input:focus {
  outline: 1px solid var(--primary-green);
}

button {
  width: fit-content;
  background-color: var(--primary-green);
  border-radius: 5px;
  border: none;

  padding: 0.5rem 1.5rem;
  font-size: 16px;

  color: white;
  cursor: pointer;
}

/* CUSTOM STYLE BY CLASSES */
/* CONTAINER */
.container {
  max-width: 1200px;
  margin: auto;
}

.container__y-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.container__xy-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* CARD COMPONENT */
.cards {
  padding-bottom: 2.5rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  justify-items: center;

  gap: 1rem;
}

.card-content__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.card-content__column {
  display: flex;
  flex-direction: column;
}

/* FONT, TEXT ALIGN */
.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.font-size-56 {
  font-size: 56px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-20 {
  font-size: 20px;
}

.weight-light {
  font-weight: lighter;
}

.color-white {
  color: white;
}
