.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem 0;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  margin-right: 1.5rem;
}

.navbar .menu-list {
  display: flex;
  gap: 1rem;
}

.menu-item {
  margin-right: 1rem;
  cursor: pointer;
  color: var(--text-grey);
}

.menu-text:hover {
  color: var(--black);
}

.header-container.mobile {
  display: none;
}

.header-responsive {
  display: none;
}
